.testimonial-section {
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.testimonial-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
  background-color: #000000;
}

.container2 {
  padding-bottom: 80px;
}

.container {
  position: relative;
  width: 50%;
  margin-bottom: 10%;
  padding-right: 2%;
}

.image {
  display: flex;
  width: 100%;
  height: 250px;
  box-shadow: 0 0px 20px -2px #13fad7;
  margin: 5px 5px 5px 5px;
  border-radius: 10%;
}

.overlay1,
.overlay2,
.overlay3,
.overlay4 {
  position: absolute;
  top: 5px;
  bottom: 16px;
  left: 8;
  right: 8;
  height: 96%;
  width: 95%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 10%;
  background-color: #13fad7;  
}

.overlay1:hover {
  opacity: 1;
}
.overlay2:hover {
  opacity: 1;
}
.overlay3:hover {
  opacity: 1;
}
.overlay4:hover {
  opacity: 1;
}
.text {
  color: #ff2255;
  font-family:  "Poppins Bold";
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
